!.gitkeep

/datasets/mega/ckpts/model_0180000.pth
/remove_unnecessary.sh
/VidVRD_helper
/temp.py
/upload_dataset.ipynb

# datasets
/datasets/coco
/datasets/vidor
/datasets/vidvrd
/datasets/mega/experiments
/datasets/mega/datasets/cache
/datasets/mega/datasets/COCOinVidVRD/COCO_train_21classes.pkl
/datasets/mega/datasets/COCOinVidVRD/COCO_val_21classes.pkl
/datasets/vidor_val_gts.json

/experiments

# pycache
**/__pycache__
